# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.tlog
*.log
*.ipch
Debug
*.user
*.suo
*.sdf
*.exe
/temp/engiX_2012Win32Debug
/game/Win32Debug
*.opensdf
/temp/engiXWin32Debug
/temp/SolarSample_2012Win32Debug
/temp/SolarSampleWin32Debug
/lib/Win32Debug
*.lastbuildstate
BoxSampleWin32Debug
/temp
